.linkedin {
    background-color: #0077B5;
    color: #fff;
}

.twitter {
    background-color: #55acee;
    color: #fff;
}

.instagram {
    background-color: #e4405f;
    color: #fff;
}

.facebook {
    background-color: #3b5999;
    color: #fff;
}